{% extends 'UtsHotelBundle:Default:index.html.twig' %}

{% block body %}

  <link rel="stylesheet" type="text/css" href="{{ asset('/css/datepicker2.css') }}" />
    <style>

        .alternative_cls{
            background:#b7ebfa;
        }
         </style>
    <div class="jumbotron">
        <h1>Поиск отелей1</h1>
        {{ form(searchForm) }}
    </div>
    <div class="row">
        <div class="col-lg-12"><h1>{{ request.city.name }} {{ request.checkIn|date('d.m.Y') }} - {{ request.checkOut|date('d.m.Y') }}</h1></div>
    </div>
    {% if request.error %}
        <div class="row">
            <div class="col-lg-12 alert alert-danger">
                Поиск завершился ошибкой, попробуйте повторить или изменить параметры
            </div>
        </div>
    {% elseif request.new %}
        <div class="row">
            <div class="col-lg-12 alert alert-warning">
                Поиск ещё не был завершен. Повторите попытку позже.
            </div>
        </div>
    {% else %}
        {# total items count #}
        <div class="row">
            <div class="col-lg-12 text-muted">
                Всего предложений: {{ pagination.getTotalItemCount }}
            </div>
        </div>
        <div class="center-block">
            {{ knp_pagination_render(pagination) }}
        </div>
        {# table body #}
        {% set date = null %}
        {% set otelindex=0 %}
        {% for item in pagination.items %}   <!-- Вывод результатов по отелям -->
            {% if date !=  item.hotel.name %}
                {% set date = item.hotel.name  %}
                {%  set otelindex=otelindex+1 %}
                <div class="alternative_cls">
                <div class="row" id="hotName" bgcolor="#FF0000">
                <div class="col-lg-6">
                    <h4>{{ otelindex }}{{ ". " }}{{item.hotel.name}}</h4>
                </div>
                    <div class="col-lg-2">
                    <h4>  {{ item.mealName }}{{ item.price }} {{ item.currency }}</h4>
                    </div>
                </div>
                </div>
            {% endif %}
            <div class="row">

                <div class="col-lg-6">

                    <span class="text-primary">{{ item.roomName }}</span>
                    {% if(item.mealName) %}
                        <span class="text-muted">({{ item.mealName }})</span>
                    {% endif %}
                </div>
                <div class="col-lg-2">{{ item.price }} {{ item.currency }}</div>
            </div>
        {% endfor %}
        {# display navigation #}
        <div class="center-block">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}