{% block form %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/utshotel/css/datepicker.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/utshotel/js/bootstrap-datepicker.js') }}"></script>

    {{ form_start(form, {'action': path('uts_hotel_search_process'), 'role': 'form'}) }}
        {% if(errors) %}
            <div class="row">
            {% for error in errors %}
                <div class="col-lg-12 alert alert-danger">
                    <p>
                        {{ error.message }}
                    </p>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="form-group col-lg-3{% if not form.city.vars.valid %} has-error{% endif %}">
                {{ form_label(form.city) }}
                {{ form_widget(form.city, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-lg-2{% if not form.checkIn.vars.valid %} has-error{% endif %}">
                {{ form_label(form.checkIn) }}
                {{ form_widget(form.checkIn, {'attr':{'class':'form-control datepicker'}}) }}
            </div>
            <div class="form-group col-lg-2{% if not form.checkOut.vars.valid %} has-error{% endif %}">
                {{ form_label(form.checkOut) }}
                {{ form_widget(form.checkOut, {'attr':{'class':'form-control datepicker'}}) }}
            </div>
            <div class="form-group col-lg-1{% if not form.adults.vars.valid %} has-error{% endif %}">
                {{ form_label(form.adults) }}
                {{ form_widget(form.adults, {'attr':{'class':'form-control'}}) }}
            </div>
           <div class="form-group col-lg-1">
                {{ form_widget(form.search, {'attr':{'class':'btn btn-primary btn-lg'}}) }}
            </div>
        </div>
    {{ form_end(form) }}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $('.datepicker').datepicker(
                            {
                                format:'dd.mm.yyyy',
                                onRender: function(date) {
                                    var now = new Date();
                                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
                                }
                            }
                    );
                }
        );
    </script>
{% endblock %}